.about {
  display: flex;
  flex-direction: row;

  .picture {
    display: flex;
    flex-basis: 700px;
    height: 430px;
    margin-right: 20px;
    background-size: cover;
  }
  .me {
    padding: 0 20px 0 20px;
    a {
      color: #8f8f8f;
    }

    p {
      font-size: 21px;
      margin: 14px 0 14px 0;
    }

    p:first-child {
      margin-top: 0;
    }
  }
}
