.about {
  display: flex;
  flex-direction: row;

  .picture {
    display: flex;
    height: 300px;
    margin-right: 20px;
  }

  .me {
    padding: 0 20px 0 20px;
    a {
      color: #8f8f8f;
    }

    p {
      font-size: 21px;
      margin: 14px 0 14px 0;
    }

    p:first-child {
      margin-top: 0;
    }
  }
}
