@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");

#root {
  padding: 1rem 2rem 0 2rem;
  text-align: center;
}

body {
  font-family: "Abel", sans-serif;
  background-image: url("/src/assets/background.png");
  background-size: cover;
  height: 100vh;
}

.container {
  max-height: 100vh;
  min-height: 500px;
}
