.menu {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: start;
  gap: 10px;

  a {
    text-decoration: none;
    text-transform: uppercase;
    color: #8f8f8f;
    font-size: 28px;
  }

  div:nth-child(2),
  div:nth-child(4) {
    a {
      color: #fff;
    }
  }

  div {
    display: flex;
  }

  .pixel {
    width: 28px;
    height: 28px;
    margin-right: 10px;
  }

  .bg-gray {
    background-color: #8f8f8f;
  }

  .bg-white {
    background-color: #fff;
  }
}
