.menu {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: start;
  gap: 10px;
  margin-bottom: 30px;
  margin-top: 15px;

  a {
    text-decoration: none;
    text-transform: uppercase;
    color: #8f8f8f;
    font-size: 28px;
  }

  a:nth-child(2),
  a:nth-child(4) {
    color: #fff;
  }

  div {
    display: flex;
  }

  .pixel {
    display: none;
    width: 28px;
    height: 28px;
    margin-right: 10px;
    background-color: #8f8f8f;
  }

  .menu-section {
    display: flex;
    cursor: pointer;
  }

  .menu-section:hover {
    .pixel {
      display: block;
    }
  }

  .menu-section:nth-child(4) {
    .pixel {
      background-color: #fff;
    }
  }

  .menu-section:nth-child(2) {
    .pixel {
      background-color: #fff;
    }
  }
}
